body{
    align-items: center;
    margin-top: auto;
}
img{
    border: 4px red solid;
}
h3{
    color: blue;
    font-weight: bold;
    font-size: 45pt;
}
p{
    text-align: center;
    font-size: 25pt;
}